* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#display-content {
  border: 2px solid black;
  width: 60%;
  height: 50vh;
  margin: 0 auto;
}

.display-content-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding-top: 20px;
}

.display-content-inner h1 {
  font-family: "Courier New", Courier, monospace;
  color: darkcyan;
}
